.login-form-wrapper {
    background: #31B7D7;
    background: -webkit-linear-gradient(-110deg, #08F7FE, #09FBD3, #F5D300);
    background: linear-gradient(110deg, #009dff, #cdf8f9, #008de5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
    .login-form-container {
        width: 960px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 125px 50px 33px 50px;
        .logo-container {
            img {
                width: 400px;
            }
        }
        .form-container {
            width: 350px;
            height: 500px;
            .tab-container {
                padding: 80px 20px 0px 20px;
            }
        }
    }
}